---
title: "Home Page"
layout: splash
author_profile: false
permalink: /
date: 2019-01-26T22:54
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/banner-961-226.jpg
  caption: ""
intro:
  - excerpt: "Do you wish you could cycle your journey but not confident of your skill on the road  or perhaps you’ve never learnt to ride and think its too late? Do you join a traffic queue to do just five miles and see a passing cyclist getting there sooner? Perhaps you would like to do the school run by bike but not sure of your ability to keep them safe? National Standard cycle training, now known as ‘Bikeability’, was introduced by the Government to raise to a high uniform standard the teaching of cycling skills for everyone – it replaced the old cycling proficiency scheme for children as outdated and inadequate for today’s roads. We offer personalised road skills cycling tuition for all ages and abilities to National Standard in and around Southampton and Dorset. Want to know more?   Click on the images below."
feature_row_1:
  - image_path: assets/img/active-bag-bicycle-1195294.jpg
    alt: ""
    title: "Why cycle?"
    excerpt: "It's convenient, cost-effective and healthy."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
    btn_size: "small"
  - image_path: assets/img/adult-bicycle-bike-771149.jpg
    alt: ""
    title: "How we can help"
    excerpt: "Most folk can learn to cycle if they can balance well enough to walk. Read about our training approach."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/active-adult-basket-1479584.jpg
    alt: ""
    title: "Costs"
    excerpt: "Read about our charges, concessions and voucher scheme."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_2:
  - image_path: assets/img/38.CTCawards_02.jpg
    alt: ""
    title: "Your instructor"
    excerpt: "Dilys Gartside is a qualified British Cycling Ride Leader and Route Planner and currently Dorset Cyclists Network campaign Coordinator for Blandford and Sturminster."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/active-adolescent-bicycle-1462458.jpg
    alt: ""
    title: "Qualifications"
    excerpt: "Dilys has a comprehensive range of qualifications, from DfT, Cycling UK, CRB, and others.."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/adult-attractive-beautiful-1475417.jpg
    alt: ""
    title: "What others say"
    excerpt: "Recommendations from our clients."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_3:
  - image_path: assets/img/active-adult-bicycle-1005803.jpg
    alt: ""
    title: "Where?"
    excerpt: "We operate in and around Southampton and Dorset."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/adventure-basket-bicycle-1239460.jpg
    alt: ""
    title: "Frequent Questions"
    excerpt: "Everything you need to know about cycling."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/bicycle-bike-biking-906016.jpg
    alt: ""
    title: "Contact Us"
    excerpt: "Dilys Gartside, tel: 01258 860157, mobile: 0775 1044 365. Do leave a landline message – my answerphone is my assistant."
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_4:
  - image_path: assets/img/bicycle-bike-city-71096.jpg
    alt: ""
    title: ""
    excerpt: ""
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/bicycle-bike-flowers-65689.jpg
    alt: ""
    title: ""
    excerpt: ""
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/img/bicycles-bikers-bikes-1073133.jpg
    alt: ""
    title: ""
    excerpt: ""
    image_caption: ""
    url: "" 
    btn_label: "Read More"
    btn_class: "btn--primary"

---
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_1" %}

{% include feature_row id="feature_row_2" %}

{% include feature_row id="feature_row_3" %}

